In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm # 폰트연결 시켜주는 모듈
font_name = fm.FontProperties(fname = "C:\\Windows\\Fonts\\malgun.ttf").get_name()
plt.rc("font", family = font_name)

# 마이너스 사인 해결
import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

In [2]:
import tensorflow as tf
from tensorflow.keras.models import Sequential, load_model, Model
from tensorflow.keras.layers import Flatten, Dense, Input, concatenate
from tensorflow.keras.layers import Conv2D, MaxPool2D, Dropout
from tensorflow.keras.layers import GlobalAveragePooling2D
from tensorflow.keras.preprocessing.image import ImageDataGenerator

from tensorflow.keras.optimizers import SGD, Adam
import matplotlib .pyplot as plt

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.metrics import accuracy_score

from datetime import datetime
import cv2
import zipfile
import shutil
import os
import glob

from tensorflow.keras.applications import Xception, ResNet50
from tensorflow.keras.applications import InceptionV3, MobileNet

In [3]:
import mglearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder
from sklearn.datasets import load_iris, fetch_california_housing, load_breast_cancer
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import classification_report, roc_curve
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression, ElasticNet
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.svm import SVC, SVR
from sklearn.svm import LinearSVC, LinearSVR
from sklearn.metrics import mean_squared_error

from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.cluster import KMeans

from sklearn.linear_model import Perceptron
from sklearn.neural_network import MLPClassifier

## 1번 농장 환경데이터 (시계열)

In [4]:
# def mk_df(path):
    
name = ["00_(환경제어기, 양액기)", "01_(함수율저울,열화상센서,작물환경센서)"]
file_path = "smart_tomato/01.데이터/1.Training/원천데이터/TS_Timeseries"
file_list = []
env_list = []
dfs = []
to_file = os.path.join(file_path, "tom1")
print(to_file)


for env in name:
    to_file_env = os.path.join(to_file, env)
    env_list.append(to_file_env)

for file in env_list:
    file_name = glob.glob(file+"/*csv")
    
    for names in file_name:
        file_list.append(names)
    
for i in range(len(file_list)):
    
    try:
        df = pd.read_csv(file_list[i], encoding="cp949")
        
    except UnicodeDecodeError as e :
        
        df = pd.read_csv(file_list[i], encoding="utf-8")
        
    dfs.append(df)

smart_tomato/01.데이터/1.Training/원천데이터/TS_Timeseries\tom1

In [5]:
len(dfs)

19

In [6]:
dfs[0][" 날짜 "].value_counts()

 2021-9-13      720
 2021-9-17      720
 2021-9-18      720
 2021-9-19      720
 2021-9-20      720
 2021-9-21      720
 2021-9-24      720
 2021-9-25      720
 2021-9-26      720
 2021-9-14      719
 2021-9-16      719
 2021-9-15      591
 2021-9-22      531
 2021-9-23      505
 2021-9-27      327
 2021-9-12       31
Name:  날짜 , dtype: int64

In [7]:
# 환경제어기 데이터와 함수율저율/열화상센서 데이터 나누기
a = dfs[0:18] # 00_(환경제어기, 양액기)
b = dfs[18] # 01_(함수율저울,열화상센서,작물환경센서)

In [8]:
a[2][" 날짜 "].value_counts()

 2021-10-4       720
 2021-10-11      720
 2021-9-28       720
 2021-9-29       720
 2021-9-30       720
 2021-10-1       720
 2021-10-2       720
 2021-10-3       720
 2021-9-27       720
 2021-10-6       720
 2021-10-7       720
 2021-10-8       720
 2021-10-9       720
 2021-10-10      720
 2021-10-5       674
 2021-10-12      528
 2021-9-26        30
Name:  날짜 , dtype: int64

In [9]:
column_list = []
for i in range(18):
    column_list.append(a[i].columns)

col_df = pd.DataFrame(column_list)
col_df
# 6번 df 1칸 밀림
# 16번 df 컬럼이 없어보임

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
1,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
2,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
3,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
4,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
5,,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,...,종료,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day
6,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
7,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
8,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
9,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
10,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
11,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
12,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
13,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
14,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
15,1437,17.49,15.944,18.434,0,-0.004,2.954,7.768,220102-2357,None,...,None,None,None,None,None,None,None,None,None,None
16,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None
17,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day,None

In [10]:
for i in range(18):
    print(col_df.loc[i].count())
# 예상되로 6번, 16번 컬럼 이상

23
23
23
23
23
24
23
23
23
23
23
23
23
23
23
9
23
23

In [11]:
# 23개 컬럼 맞춰주기
a[5] = a[5][a[5].columns[1:]]
a[5]

,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,종료,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day
0,0,2021-10-17,23:1:7,90,90,90,0,0,0,1399,...,14:44,2.8,3.0,5.0,4.2,6:43,17:54,0,0,558
1,0,2021-10-17,23:3:6,90,90,90,0,0,0,1399,...,14:44,2.8,3.0,5.0,4.1,6:43,17:54,0,0,558
2,0,2021-10-17,23:5:5,90,90,90,0,0,0,1399,...,14:44,2.8,3.0,5.0,4.2,6:43,17:54,0,0,558
3,0,2021-10-17,23:7:9,90,90,90,0,0,0,1399,...,14:44,2.8,3.0,5.0,4.2,6:43,17:54,0,0,558
4,0,2021-10-17,23:9:9,90,90,90,0,0,0,1399,...,14:44,2.8,3.0,5.0,4.2,6:43,17:54,0,0,558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10352,0,2021-11-1,10:5:27,120,120,120,0,0,0,240,...,14:25,2.8,3.3,4.5,5.1,6:58,17:35,432,226,0
10353,0,2021-11-1,10:7:30,120,120,120,0,0,0,240,...,14:25,2.8,3.3,4.5,5.1,6:58,17:35,406,232,0
10354,0,2021-11-1,10:9:33,120,120,120,0,0,0,240,...,14:25,2.8,3.3,4.5,5.2,6:58,17:35,444,237,0
10355,1,2021-11-1,10:11:28,120,120,120,98,120,120,261,...,14:25,2.8,2.7,4.5,5.3,6:58,17:35,511,243,0
10356,1,2021-11-1,10:13:28,120,120,120,34,120,120,324,...,14:25,2.8,3.0,4.5,5.2,6:58,17:35,537,249,0

In [12]:
a[5][" 날짜 "].value_counts()

 2021-10-18      720
 2021-10-20      720
 2021-10-21      720
 2021-10-22      720
 2021-10-23      720
 2021-10-24      720
 2021-10-25      720
 2021-10-26      720
 2021-10-27      720
 2021-10-28      720
 2021-10-29      720
 2021-10-30      720
 2021-10-31      720
 2021-10-19      660
 2021-11-1       307
 2021-10-17       30
Name:  날짜 , dtype: int64

In [13]:
# 16번 df의 정보 불분명 (20220103 ~ 20220117 데이터 제외처리)
a[15]

        1437   17.49  15.944  18.434  0  -0.004  2.954  7.768   220102-2357
0       1438  17.490  15.942  18.434  0  -0.005  2.953  7.769   220102-2358
1       1439  17.488  15.942  18.432  0  -0.005  2.953  7.765   220102-2359
2       1440  17.486  15.940  18.430  0  -0.005  2.953  7.766   220103-0000
3       1441  17.486  15.938  18.428  0  -0.005  2.953  7.766   220103-0001
4       1442  17.484  15.936  18.428  0  -0.005  2.952  7.765   220103-0002
...      ...     ...     ...     ... ..     ...    ...    ...           ...
21158  22596  18.508  17.906  19.532  0   4.793  5.785  8.038   220117-1635
21159  22597  18.508  17.906  19.530  0   4.793  5.783  8.038   220117-1636
21160  22598  18.506  17.904  19.528  0   4.793  5.783  8.038   220117-1637
21161  22599  18.506  17.902  19.528  0   4.793  5.783  8.038   220117-1638
21162  22600  18.504  17.900  19.526  0   4.793  5.783  8.038   220117-1639

[21163 rows x 9 columns]

In [14]:
con_df1 = pd.concat([a[0], a[1]], axis = 0)
con_df2 = pd.concat([con_df1, a[2]], axis = 0)
con_df3 = pd.concat([con_df2, a[3]], axis = 0)
con_df4 = pd.concat([con_df3, a[4]], axis = 0)
con_df5 = pd.concat([con_df4, a[5]], axis = 0)
con_df6 = pd.concat([con_df5, a[6]], axis = 0)
con_df7 = pd.concat([con_df6, a[7]], axis = 0)
con_df8 = pd.concat([con_df7, a[8]], axis = 0)
con_df9 = pd.concat([con_df8, a[9]], axis = 0)
con_df10 = pd.concat([con_df9, a[10]], axis = 0)
con_df11 = pd.concat([con_df10, a[11]], axis = 0)
con_df12 = pd.concat([con_df11, a[12]], axis = 0)
con_df13 = pd.concat([con_df12, a[13]], axis = 0)
con_df14 = pd.concat([con_df13, a[14]], axis = 0)
con_df15 = pd.concat([con_df14, a[16]], axis = 0)
con_df16 = pd.concat([con_df15, a[17]], axis = 0)

In [15]:
con_df16[" 날짜 "].value_counts()

 2021-12-20      2160
 2021-12-13      2160
 2021-10-11      2160
 2021-10-4       2160
 2021-12-6       2160
                 ...
 2021-9-22        531
 2021-12-29       518
 2021-9-23        505
 2021-11-12       450
 2021-9-12         31
Name:  날짜 , Length: 148, dtype: int64

In [16]:
# 띄어쓰기 난무되어있는 컬럼명 수정 후 변수저장
cols = ['채널1 구역', '날짜', '시간', '설정량1', '설정량2', '설정량3', '잔여량1',
       '잔여량2', '잔여량3', '누적량1', '누적량2', '누적량3', '시작', '종료',
       '설정EC(dS)', '현재EC(dS)', '설정PH(pH)', '현재PH(pH)', '일출시간',
       '일몰시간', '현재일사(W)', '누적일사(J)', 'J/Day']

con_df16.columns = cols
con_df16.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178155 entries, 0 to 15665
Data columns (total 23 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   채널1 구역    178155 non-null  int64
 1   날짜        178155 non-null  object
 2   시간        178155 non-null  object
 3   설정량1      178155 non-null  int64
 4   설정량2      178155 non-null  int64
 5   설정량3      178155 non-null  int64
 6   잔여량1      178155 non-null  int64
 7   잔여량2      178155 non-null  int64
 8   잔여량3      178155 non-null  int64
 9   누적량1      178155 non-null  int64
 10  누적량2      178155 non-null  int64
 11  누적량3      178155 non-null  int64
 12  시작        178155 non-null  object
 13  종료        178155 non-null  object
 14  설정EC(dS)  178155 non-null  float64
 15  현재EC(dS)  178155 non-null  float64
 16  설정PH(pH)  178155 non-null  float64
 17  현재PH(pH)  178155 non-null  float64
 18  일출시간      178155 non-null  object
 19  일몰시간      178155 non-null  object
 20  현재일사(W)   178155 non-null  int64
 21  누적일사(J)   178155 non-null  int64
 22  J/Day     178155 non-null  int64
dtypes: float64(4), int64(13), object(6)
memory usage: 32.6+ MB

In [17]:
df_11 = con_df16

## 1번 데이터

In [18]:
df = df_11
df

,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,종료,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day
0,0,2021-9-12,23:0:0,100,100,100,0,0,0,1599,...,15:36,2.8,3.5,5.0,4.3,6:13,18:46,0,2052,963
1,0,2021-9-12,23:2:0,100,100,100,0,0,0,1599,...,15:36,2.8,3.4,5.0,4.3,6:13,18:46,0,2052,963
2,0,2021-9-12,23:3:58,100,100,100,0,0,0,1599,...,15:36,2.8,3.5,5.0,4.3,6:13,18:46,0,2052,963
3,0,2021-9-12,23:6:2,100,100,100,0,0,0,1599,...,15:36,2.8,3.5,5.0,4.2,6:13,18:46,0,2052,963
4,0,2021-9-12,23:8:0,100,100,100,0,0,0,1599,...,15:36,2.8,3.5,5.0,4.2,6:13,18:46,0,2052,963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15661,0,2022-2-7,17:41:33,80,80,80,0,0,0,629,...,14:13,2.8,2.7,4.8,4.5,7:33,18:3,5,793,760
15662,0,2022-2-7,17:43:33,80,80,80,0,0,0,629,...,14:13,2.8,2.8,4.8,4.5,7:33,18:3,5,793,760
15663,0,2022-2-7,17:45:33,80,80,80,0,0,0,629,...,14:13,2.8,2.7,4.8,4.5,7:33,18:3,2,793,760
15664,0,2022-2-7,17:47:34,80,80,80,0,0,0,629,...,14:13,2.8,2.7,4.8,4.5,7:33,18:3,0,793,760
15665,0,2022-2-7,17:49:35,80,80,80,0,0,0,629,...,14:13,2.8,2.7,4.8,4.5,7:33,18:3,0,793,760

In [19]:
df.to_csv("farm1_env_data.csv", encoding = "utf-8")

### 표준데이터 기준에 맞게 데이터 재정렬

In [20]:
# 1번 데이터
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178155 entries, 0 to 15665
Data columns (total 23 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   채널1 구역    178155 non-null  int64
 1   날짜        178155 non-null  object
 2   시간        178155 non-null  object
 3   설정량1      178155 non-null  int64
 4   설정량2      178155 non-null  int64
 5   설정량3      178155 non-null  int64
 6   잔여량1      178155 non-null  int64
 7   잔여량2      178155 non-null  int64
 8   잔여량3      178155 non-null  int64
 9   누적량1      178155 non-null  int64
 10  누적량2      178155 non-null  int64
 11  누적량3      178155 non-null  int64
 12  시작        178155 non-null  object
 13  종료        178155 non-null  object
 14  설정EC(dS)  178155 non-null  float64
 15  현재EC(dS)  178155 non-null  float64
 16  설정PH(pH)  178155 non-null  float64
 17  현재PH(pH)  178155 non-null  float64
 18  일출시간      178155 non-null  object
 19  일몰시간      178155 non-null  object
 20  현재일사(W)   178155 non-null  int64
 21  누적일사(J)   178155 non-null  int64
 22  J/Day     178155 non-null  int64
dtypes: float64(4), int64(13), object(6)
memory usage: 32.6+ MB

In [21]:
df_1 = df[df.columns[12:]]
df_2 = df[df.columns[[1]]]
df = pd.concat([df_2, df_1], axis = 1)
df

,날짜,시작,종료,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day
0,2021-9-12,8:13,15:36,2.8,3.5,5.0,4.3,6:13,18:46,0,2052,963
1,2021-9-12,8:13,15:36,2.8,3.4,5.0,4.3,6:13,18:46,0,2052,963
2,2021-9-12,8:13,15:36,2.8,3.5,5.0,4.3,6:13,18:46,0,2052,963
3,2021-9-12,8:13,15:36,2.8,3.5,5.0,4.2,6:13,18:46,0,2052,963
4,2021-9-12,8:13,15:36,2.8,3.5,5.0,4.2,6:13,18:46,0,2052,963
...,...,...,...,...,...,...,...,...,...,...,...,...
15661,2022-2-7,9:43,14:13,2.8,2.7,4.8,4.5,7:33,18:3,5,793,760
15662,2022-2-7,9:43,14:13,2.8,2.8,4.8,4.5,7:33,18:3,5,793,760
15663,2022-2-7,9:43,14:13,2.8,2.7,4.8,4.5,7:33,18:3,2,793,760
15664,2022-2-7,9:43,14:13,2.8,2.7,4.8,4.5,7:33,18:3,0,793,760
15665,2022-2-7,9:43,14:13,2.8,2.7,4.8,4.5,7:33,18:3,0,793,760

In [22]:
# 일출, 일몰 컬럼 삭제
del df["일출시간"]
del df["일몰시간"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178155 entries, 0 to 15665
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   날짜        178155 non-null  object
 1   시작        178155 non-null  object
 2   종료        178155 non-null  object
 3   설정EC(dS)  178155 non-null  float64
 4   현재EC(dS)  178155 non-null  float64
 5   설정PH(pH)  178155 non-null  float64
 6   현재PH(pH)  178155 non-null  float64
 7   현재일사(W)   178155 non-null  int64
 8   누적일사(J)   178155 non-null  int64
 9   J/Day     178155 non-null  int64
dtypes: float64(4), int64(3), object(3)
memory usage: 15.0+ MB

In [23]:
# 시작, 종료 삭제
del df["시작"]
del df["종료"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178155 entries, 0 to 15665
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   날짜        178155 non-null  object
 1   설정EC(dS)  178155 non-null  float64
 2   현재EC(dS)  178155 non-null  float64
 3   설정PH(pH)  178155 non-null  float64
 4   현재PH(pH)  178155 non-null  float64
 5   현재일사(W)   178155 non-null  int64
 6   누적일사(J)   178155 non-null  int64
 7   J/Day     178155 non-null  int64
dtypes: float64(4), int64(3), object(1)
memory usage: 12.2+ MB

In [24]:
# datatype 변환
df["날짜"] = pd.to_datetime(df["날짜"])
df

,날짜,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),현재일사(W),누적일사(J),J/Day
0,2021-09-12,2.8,3.5,5.0,4.3,0,2052,963
1,2021-09-12,2.8,3.4,5.0,4.3,0,2052,963
2,2021-09-12,2.8,3.5,5.0,4.3,0,2052,963
3,2021-09-12,2.8,3.5,5.0,4.2,0,2052,963
4,2021-09-12,2.8,3.5,5.0,4.2,0,2052,963
...,...,...,...,...,...,...,...,...
15661,2022-02-07,2.8,2.7,4.8,4.5,5,793,760
15662,2022-02-07,2.8,2.8,4.8,4.5,5,793,760
15663,2022-02-07,2.8,2.7,4.8,4.5,2,793,760
15664,2022-02-07,2.8,2.7,4.8,4.5,0,793,760
15665,2022-02-07,2.8,2.7,4.8,4.5,0,793,760

In [25]:
df[['설정EC(dS)', '현재EC(dS)', '설정PH(pH)', '현재PH(pH)', '현재일사(W)',
       '누적일사(J)', 'J/Day']] = df[['설정EC(dS)', '현재EC(dS)', '설정PH(pH)', '현재PH(pH)', '현재일사(W)',
       '누적일사(J)', 'J/Day']].astype(float)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178155 entries, 0 to 15665
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   날짜        178155 non-null  datetime64[ns]
 1   설정EC(dS)  178155 non-null  float64
 2   현재EC(dS)  178155 non-null  float64
 3   설정PH(pH)  178155 non-null  float64
 4   현재PH(pH)  178155 non-null  float64
 5   현재일사(W)   178155 non-null  float64
 6   누적일사(J)   178155 non-null  float64
 7   J/Day     178155 non-null  float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 12.2 MB

In [27]:
## 날짜를 하루 기준으로 맞추기
df_1 = df.groupby("날짜").mean()
df_1

,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),현재일사(W),누적일사(J),J/Day
날짜,,,,,,,
2021-09-12,2.8,3.458065,5.0,4.183871,0.000000,1721.032258,1138.645161
2021-09-13,2.8,3.305000,5.0,4.358750,154.002778,649.880556,2047.180556
2021-09-14,2.8,3.400278,5.0,4.259805,55.784423,236.716273,1353.176634
2021-09-15,2.8,3.311337,5.0,4.309475,307.177665,821.368866,505.686971
2021-09-16,2.8,3.086509,5.0,4.355911,147.769124,683.011127,2221.892907
...,...,...,...,...,...,...,...
2022-02-03,2.8,2.940368,4.8,4.289093,158.202550,653.002833,1048.875354
2022-02-04,2.8,3.051806,4.8,4.178472,110.470833,444.579167,1375.222222
2022-02-05,2.8,2.977222,4.8,4.214444,112.344444,453.558333,978.000000
2022-02-06,2.8,2.972083,4.8,4.138472,85.983333,347.590278,976.486111
2022-02-07,2.8,2.948224,4.8,3.994019,120.775701,244.467290,760.000000

## 2번 데이터

In [28]:
# 2번 데이터
df2 = b
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77399 entries, 0 to 77398
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               77399 non-null  object
 1   EC급액               77399 non-null  float64
 2   EC배액               77399 non-null  float64
 3   pH급액               77399 non-null  float64
 4   pH배액               77399 non-null  float64
 5   저울급액               77399 non-null  float64
 6   저울배액               77399 non-null  float64
 7   온도토양               77399 non-null  float64
 8   온도급액               77399 non-null  float64
 9   온도배액               77399 non-null  float64
 10  내부이산화탄소            77399 non-null  int64
 11  내부광량               77399 non-null  float64
 12  내부PT100온도센서1번건구    77399 non-null  float64
 13  내부PT100온도센서2번습구    77399 non-null  float64
 14  내부PT100온도센서3번      77399 non-null  float64
 15  내부PT100센서를이용한계산습도  77399 non-null  float64
dtypes: float64(14), int64(1), object(1)
memory usage: 9.4+ MB

### 표준데이터 기준에 맞게 데이터 재정렬

In [29]:
df2.head()

,time,EC급액,EC배액,pH급액,pH배액,저울급액,저울배액,온도토양,온도급액,온도배액,내부이산화탄소,내부광량,내부PT100온도센서1번건구,내부PT100온도센서2번습구,내부PT100온도센서3번,내부PT100센서를이용한계산습도
0,2021-10-21 10:29:22,4.24665,6.13995,5.640,6.088,15.04843,0.011749,19.3750,19.6875,19.4375,871,210.1635,25.19288,25.39588,29.18709,100.0
1,2021-10-21 10:30:11,4.36458,6.14793,5.670,6.096,15.01543,0.005761,19.8125,19.8750,19.8125,842,226.3665,25.22675,25.42974,29.08549,100.0
2,2021-10-21 10:44:41,4.48546,6.18733,5.717,6.105,15.54240,0.001681,18.7500,19.9375,20.1875,695,198.1678,26.71565,27.02005,31.76193,100.0
3,2021-10-21 10:46:10,4.54221,6.19293,5.714,6.108,15.44568,0.006030,18.9375,20.0000,20.1875,629,272.9721,26.88478,27.15551,31.89760,100.0
4,2021-10-21 10:46:55,4.57046,6.19405,5.715,6.109,15.15450,0.002043,18.9375,20.0000,20.2500,579,312.1149,26.91865,27.18938,31.82966,100.0

In [30]:
df3 = df2[["time", "EC급액", "pH급액", "내부이산화탄소", "내부PT100온도센서1번건구", 
   "내부PT100온도센서2번습구", "내부PT100온도센서3번", "내부PT100센서를이용한계산습도"]]

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77399 entries, 0 to 77398
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   time               77399 non-null  object
 1   EC급액               77399 non-null  float64
 2   pH급액               77399 non-null  float64
 3   내부이산화탄소            77399 non-null  int64
 4   내부PT100온도센서1번건구    77399 non-null  float64
 5   내부PT100온도센서2번습구    77399 non-null  float64
 6   내부PT100온도센서3번      77399 non-null  float64
 7   내부PT100센서를이용한계산습도  77399 non-null  float64
dtypes: float64(6), int64(1), object(1)
memory usage: 4.7+ MB

In [32]:
arr_list = []
for i in df3["time"].values:
    arr_list.append(i.split(" ")[0])
np.array(arr_list)

array(['2021-10-21', '2021-10-21', '2021-10-21', ..., '2021-11-28',
       '2021-11-28', '2021-11-28'], dtype='<U10')

In [33]:
df3["time"] = np.array(arr_list)

C:\Users\acorn\AppData\Local\Temp\ipykernel_14384\3372807770.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["time"] = np.array(arr_list)

In [34]:
df3["평균온도"] = round((df3["내부PT100온도센서1번건구"] + df3["내부PT100온도센서2번습구"] + df3["내부PT100온도센서3번"]) / 3, 2)

C:\Users\acorn\AppData\Local\Temp\ipykernel_14384\3193007276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3["평균온도"] = round((df3["내부PT100온도센서1번건구"] + df3["내부PT100온도센서2번습구"] + df3["내부PT100온도센서3번"]) / 3, 2)

In [35]:
cols_s = ['time', 'EC급액', 'pH급액', '내부이산화탄소', '내부PT100센서를이용한계산습도', '평균온도']
cols = ["날짜", "EC급액", "pH급액", "내부CO2", "습도", "평균온도"]
df3 = df3[cols_s]
df3.columns = cols

In [36]:
df3_1 = df3.groupby("날짜").mean()
df3_1

                EC급액        pH급액       내부CO2         습도       평균온도
날짜
2021-10-21  6.002211    5.824829  385.328885  99.984088  23.802050
2021-10-22  5.727607    5.845138  473.738652  92.861822  22.725722
2021-10-25  6.270493    5.879204  381.742605  88.498543  20.782475
2021-10-26  5.931623    5.872231  472.583926  87.305399  21.172155
2021-10-27  5.872710    5.880875  440.888739  90.637662  20.085772
2021-10-28  5.694033    5.918614  486.336384  89.001214  19.346146
2021-11-02  6.585616    6.076345  395.385483  90.003582  17.635758
2021-11-03  5.657289    6.083097  456.977773  88.859955  20.295585
2021-11-04  5.002410    6.169642  504.139640  88.799010  17.449032
2021-11-12  6.494949    5.699207  607.397570  91.918958  17.041035
2021-11-13  6.453946    5.787281  482.885266  88.386585  19.675609
2021-11-14  5.954930    5.729144  471.192372  88.539463  19.444488
2021-11-15  5.387352    5.721473  481.165079  87.127969  17.035619
2021-11-16  5.264693    5.682286  535.580988  89.105021  17.437541
2021-11-17  4.763855    5.678097  499.320522  85.087310  22.488709
2021-11-18  4.579987    5.668752  504.379063  87.403103  19.211542
2021-11-19  4.763163    5.671361  506.959695  94.826643  19.956469
2021-11-20  4.907380    5.651447  515.845117  99.743660  21.059969
2021-11-21  4.361083    5.510647  529.972345  99.761732  18.967925
2021-11-22  9.964875    5.203669  593.359932  99.666696  17.583490
2021-11-23  2.945455    5.178873  553.904762  99.730588  17.532604
2021-11-24  4.521497    5.314525  497.494131  99.773461  18.864886
2021-11-25  6.222922    5.551430  579.708452  99.692174  17.617765
2021-11-26  5.393391    5.609368  513.828727  99.751128  22.733719
2021-11-27  4.886984  687.019240  529.085472  99.702718  19.995950
2021-11-28  4.645628    5.652690  535.353271  99.661496  18.150505

In [37]:
df3_1 = df3_1.reset_index()

In [38]:
df_1 = df_1.reset_index()

In [39]:
df3_1["날짜"] = pd.to_datetime(df3_1["날짜"])

In [40]:
print(len(df3_1), len(df_1))

26 148

In [41]:
print(df3_1["날짜"].min())
print(df3_1["날짜"].max())

2021-10-21 00:00:00
2021-11-28 00:00:00

In [42]:
print(df_1["날짜"].min())
print(df_1["날짜"].max())

2021-09-12 00:00:00
2022-02-07 00:00:00

In [43]:
df_f = pd.merge(df_1, df3_1, how = "inner")
df_f

,날짜,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),현재일사(W),누적일사(J),J/Day,EC급액,pH급액,내부CO2,습도,평균온도
0,2021-10-21,2.80000,3.406111,5.000000,4.307222,174.900000,744.919444,1578.822222,6.002211,5.824829,385.328885,99.984088,23.802050
1,2021-10-22,2.80000,3.336806,5.000000,4.326389,185.143056,793.329167,1547.533333,5.727607,5.845138,473.738652,92.861822,22.725722
2,2021-10-25,2.80000,3.306728,5.000000,4.243374,194.806830,685.293068,6.369011,6.270493,5.879204,381.742605,88.498543,20.782475
3,2021-10-26,2.80000,2.986389,5.000000,4.314722,171.484722,737.661111,1561.750000,5.931623,5.872231,472.583926,87.305399,21.172155
4,2021-10-27,2.80000,2.847639,4.719444,4.269444,129.444444,543.911111,1523.375000,5.872710,5.880875,440.888739,90.637662,20.085772
5,2021-10-28,2.80000,2.901528,4.500000,4.297083,178.404167,765.559722,1150.965278,5.694033,5.918614,486.336384,89.001214,19.346146
6,2021-11-02,2.80000,3.120139,4.500000,4.363056,138.795833,598.952778,1271.611111,6.585616,6.076345,395.385483,90.003582,17.635758
7,2021-11-03,2.80000,2.905694,4.500000,4.091528,151.420833,645.705556,1216.833333,5.657289,6.083097,456.977773,88.859955,20.295585
8,2021-11-04,2.80000,2.881111,4.500000,4.112500,148.762500,634.140278,1335.833333,5.002410,6.169642,504.139640,88.799010,17.449032
9,2021-11-12,2.80000,2.850889,4.500000,4.319333,75.740000,410.037778,492.866667,6.494949,5.699207,607.397570,91.918958,17.041035
10,2021-11-13,2.80000,2.960640,4.500000,4.004033,132.236439,560.453408,484.760779,6.453946,5.787281,482.885266,88.386585,19.675609
11,2021-11-14,2.80000,3.019467,4.500000,3.989867,95.234667,434.812000,1153.981333,5.954930,5.729144,471.192372,88.539463,19.444488
12,2021-11-15,2.80000,3.075184,4.500000,3.858824,27.691176,555.893382,876.389706,5.387352,5.721473,481.165079,87.127969,17.035619
13,2021-11-16,2.80000,3.187240,4.500000,4.145354,134.248266,381.796117,1190.685160,5.264693,5.682286,535.580988,89.105021,17.437541
14,2021-11-17,2.80000,3.018081,4.500000,4.179555,142.275382,608.528512,6.981919,4.763855,5.678097,499.320522,85.087310,22.488709
15,2021-11-18,2.80000,2.801803,4.500000,4.210125,110.355062,317.614424,1246.296810,4.579987,5.668752,504.379063,87.403103,19.211542
16,2021-11-19,2.80000,3.089708,4.500000,4.156189,103.809458,468.618915,5.179416,4.763163,5.671361,506.959695,94.826643,19.956469
17,2021-11-20,2.80000,3.333056,4.500000,4.075139,119.802778,506.213889,931.716667,4.907380,5.651447,515.845117,99.743660,21.059969
18,2021-11-21,2.80000,3.317778,4.500000,4.046389,59.645833,269.515278,1057.038889,4.361083,5.510647,529.972345,99.761732,18.967925
19,2021-11-22,2.77277,3.320892,4.500000,3.950156,55.089202,177.399061,526.677621,9.964875,5.203669,593.359932,99.666696,17.583490
20,2021-11-23,2.60000,3.218373,4.500000,4.092213,54.141732,288.098863,424.111986,2.945455,5.178873,553.904762,99.730588,17.532604
21,2021-11-24,2.60000,3.043194,4.500000,4.035556,93.705556,406.798611,442.183333,4.521497,5.314525,497.494131,99.773461,18.864886
22,2021-11-25,2.60000,2.955511,4.614830,3.942084,106.603206,234.541082,834.052104,6.222922,5.551430,579.708452,99.692174,17.617765
23,2021-11-26,2.60000,2.868333,4.800000,4.361806,132.504167,563.445833,939.604167,5.393391,5.609368,513.828727,99.751128,22.733719
24,2021-11-27,2.60000,2.733889,4.800000,4.482500,133.152778,565.219444,1169.027778,4.886984,687.019240,529.085472,99.702718,19.995950
25,2021-11-28,2.60000,2.962993,4.800000,4.648503,123.997279,547.375510,1172.418367,4.645628,5.652690,535.353271,99.661496,18.150505

In [44]:
df_tot = pd.merge(df_1, df3_1, how = "outer")
df_tot

,날짜,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),현재일사(W),누적일사(J),J/Day,EC급액,pH급액,내부CO2,습도,평균온도
0,2021-09-12,2.8,3.458065,5.0,4.183871,0.000000,1721.032258,1138.645161,NaN,NaN,NaN,NaN,NaN
1,2021-09-13,2.8,3.305000,5.0,4.358750,154.002778,649.880556,2047.180556,NaN,NaN,NaN,NaN,NaN
2,2021-09-14,2.8,3.400278,5.0,4.259805,55.784423,236.716273,1353.176634,NaN,NaN,NaN,NaN,NaN
3,2021-09-15,2.8,3.311337,5.0,4.309475,307.177665,821.368866,505.686971,NaN,NaN,NaN,NaN,NaN
4,2021-09-16,2.8,3.086509,5.0,4.355911,147.769124,683.011127,2221.892907,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,2022-02-03,2.8,2.940368,4.8,4.289093,158.202550,653.002833,1048.875354,NaN,NaN,NaN,NaN,NaN
144,2022-02-04,2.8,3.051806,4.8,4.178472,110.470833,444.579167,1375.222222,NaN,NaN,NaN,NaN,NaN
145,2022-02-05,2.8,2.977222,4.8,4.214444,112.344444,453.558333,978.000000,NaN,NaN,NaN,NaN,NaN
146,2022-02-06,2.8,2.972083,4.8,4.138472,85.983333,347.590278,976.486111,NaN,NaN,NaN,NaN,NaN
147,2022-02-07,2.8,2.948224,4.8,3.994019,120.775701,244.467290,760.000000,NaN,NaN,NaN,NaN,NaN

In [45]:
df_tot.columns

Index(['날짜', '설정EC(dS)', '현재EC(dS)', '설정PH(pH)', '현재PH(pH)', '현재일사(W)',
       '누적일사(J)', 'J/Day', 'EC급액', 'pH급액', '내부CO2', '습도', '평균온도'],
      dtype='object')

In [49]:
df_tot["pH급액"].isnull().sum()

122

In [52]:
df_tot.to_csv("farm1_df", encoding = "utf-8")

## 번외. 시간단위로 맞추기

In [48]:
df_11

,채널1 구역,날짜,시간,설정량1,설정량2,설정량3,잔여량1,잔여량2,잔여량3,누적량1,...,종료,설정EC(dS),현재EC(dS),설정PH(pH),현재PH(pH),일출시간,일몰시간,현재일사(W),누적일사(J),J/Day
0,0,2021-9-12,23:0:0,100,100,100,0,0,0,1599,...,15:36,2.8,3.5,5.0,4.3,6:13,18:46,0,2052,963
1,0,2021-9-12,23:2:0,100,100,100,0,0,0,1599,...,15:36,2.8,3.4,5.0,4.3,6:13,18:46,0,2052,963
2,0,2021-9-12,23:3:58,100,100,100,0,0,0,1599,...,15:36,2.8,3.5,5.0,4.3,6:13,18:46,0,2052,963
3,0,2021-9-12,23:6:2,100,100,100,0,0,0,1599,...,15:36,2.8,3.5,5.0,4.2,6:13,18:46,0,2052,963
4,0,2021-9-12,23:8:0,100,100,100,0,0,0,1599,...,15:36,2.8,3.5,5.0,4.2,6:13,18:46,0,2052,963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15661,0,2022-2-7,17:41:33,80,80,80,0,0,0,629,...,14:13,2.8,2.7,4.8,4.5,7:33,18:3,5,793,760
15662,0,2022-2-7,17:43:33,80,80,80,0,0,0,629,...,14:13,2.8,2.8,4.8,4.5,7:33,18:3,5,793,760
15663,0,2022-2-7,17:45:33,80,80,80,0,0,0,629,...,14:13,2.8,2.7,4.8,4.5,7:33,18:3,2,793,760
15664,0,2022-2-7,17:47:34,80,80,80,0,0,0,629,...,14:13,2.8,2.7,4.8,4.5,7:33,18:3,0,793,760
15665,0,2022-2-7,17:49:35,80,80,80,0,0,0,629,...,14:13,2.8,2.7,4.8,4.5,7:33,18:3,0,793,760

In [ ]:
arr_list = []
for i in df_11['시간'].values:
    arr_list.append(i.split(":")[0])
print(arr_list)

In [ ]:
df_11["날짜"] = df_11["날짜"] + " " + np.array(arr_list)

In [ ]:
df_11

In [ ]:
# 3438건
df_11.groupby("날짜").mean()